nav {
display: flex;
justify-content: space-between;
width: 90%;
margin: 0 auto;
padding: 7px;
font-family: 'Roboto', sans-serif;
}

nav p{
    padding: 2px 8px;
    font-size: 21px;
    color: #424242;
    font-weight: 500;
}

nav div ion-icon{
    padding: 2px 8px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.766);
    cursor: pointer;
}