section.products-filter-container{
    display: block;
    justify-content: space-around;
    width: 90%;
    margin: 20px auto;
    /* border: 2px red solid; */
}

.products-container{
    /* border: 2px red solid; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.products-container div.card {
    margin: 10px 30px;
}