section.categories-container{
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.categories-container div{
    width: 48%;
    height: 240px;
    display: flex;
    background-size: cover;
    background-repeat:no-repeat;
    margin: 10px 0;
    border-radius: 6px;
    overflow: hidden;
    position: relative; 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}

section.categories-container div::before {    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.399);
}

section.categories-container div p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 5px ;
    width: max-content;
    margin: auto;
    z-index: 10px;
    position: relative;
}