.product-card {
  width: calc(95% / 2);
  padding: 1rem 0;
  background-color: rgb(251, 253, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 5px #e6e3e3;
  margin-bottom: 1.5rem;
}

.product-card .inner-cont {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card .inner-cont .img-url{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: contain;
}

.other-info {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.other-info .header-cart {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  color: #006637;
}

.other-info .header-cart .price {
  font-size: 2rem;
}

.other-info .header-cart .trash {
  display: block;
  font-size: 25px;
  cursor: pointer;
}

.other-info .header-cart .trash:hover, 
.other-info .header-cart .trash:focus {
  animation: rotation 1s infinite linear;
}

.product-card .buy-btn {
  width: 8rem;
  height: 2.5rem;
  font-size: larger;
  border: 1px solid #000;
  border-radius: 0.7rem;
  color: #fff;
  background-color:  rgba(0, 82, 62, 0.75);
  cursor: pointer;
}

.product-card .buy-btn:hover,
.product-card .buy-btn:focus {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.other-info .category {
  font-size: 1.5rem;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
