.product-card {
  width: calc((100% - 6rem) / 4);
  height: 50vh;
  padding: 1rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.product-card .discount {
  margin-bottom: 15px;
  align-self: flex-start;
  color: #fff;
  width: 5rem;
  min-height: 2rem;
  text-align: center;
  border-radius: 10px;
  background-color:  rgba(0, 82, 62, 0.75);;
}
.product-card h3{
  text-align: center;
  font-size: 2.5rem;
}
.product-card .inner-cont {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.imgUrl{
  width: 300px;
  height: 280px;
  box-shadow: 5px 5px 3px 5px #888888;
}

