.product-card {
  width: 48%;
  height: 40vh;
  padding: 1rem 0;
  background-color: rgb(251, 253, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 5px #e6e3e3;
}

.product-card .inner-cont {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card .inner-cont .img-url{
  width: 50%;
  height: 100%;
  border-radius: 10px;
}

.other-info {
  width: 50%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.other-info .category {
  font-size: xx-large;
}

.other-info .header-cart {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  color: #006637;
}

.other-info .header-cart .price {
  font-size: 28px;
}

.other-info .header-cart .trash {
  font-size: 20px;
}

.product-card .discount {
  bottom: 15px;
  right:  10px;
  margin-bottom: 15px;
  align-self: flex-start;
  color: #fff;
  width: 5rem;
  min-height: 2rem;
  text-align: center;
  border-radius: 10px;
  background-color:  rgba(0, 82, 62, 0.75);;
}